<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  class="list-group-item clearfix"
  routerLinkActive="active"
  [ngStyle]="{
    backgroundColor: index % 2 ? 'yellowgreen' : '#edeb7b',
    color: 'black'
  }"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text" style="color: black;">
      {{
        recipe.description.length > 40
          ? recipe.description.substr(0, 35) + "..."
          : recipe.description
      }}
    </p>
  </div>
  <span class="pull-right">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 50px;"
    />
  </span>
</a>
